/*The chord font*/
@font-face {
  font-family: 'ChordFont';
  src: url('chordfont/MuseJazz.eot?#iefix') format('embedded-opentype'),  url('chordfont/MuseJazz.woff') format('woff'), url('chordfont/MuseJazz.ttf')  format('truetype'), url('chordfont/MuseJazz.svg#MuseJazz') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Position the font correctly*/
.chord { 
    position: absolute;
    font-family: ChordFont;
    font-weight: normal !important;
    font-style: normal !important;
 }
.chord .inner {  
    position: relative;
    top: -1em;
}

/*Custom styles*/
body {
    font-family: Cambria,'PT Serif', Georgia, Times, 'Times New Roman', serif;
    line-height: 2.5em
}

.chord {
    font-size: 12pt;
}
